.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    padding: 20px;
}

.form__item {
    padding: 7px;
    border: 1px solid rgb(238, 238, 238);
    flex-grow: 1;
}

.form__item--input {
    flex-basis: 500px;
    margin-right: 15px;
}

.form__item--button {
    background-color: teal;
    color: rgb(255, 255, 255);
    flex-basis: 130px;
    flex-shrink: 0;
    transition: background 1s;
    cursor: pointer;
}

.form__item--button:hover {
    transform: scale(1.05);
    transition: 1s;
    background-color: hsl(180, 100%, 35%);
}

@media (max-width: 767px) {
    .form__item--button {
        flex-basis: 100%;
        margin-top: 10px;
    }

    .form__item--input {
        margin-right: 0;
    }
}