html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-color: rgb(238, 238, 238);
  margin: 20px auto;
  max-width: 800px;
  font-family: "Geologica", sans-serif;
}