.buttons__button {
    border: none;
    background-color: transparent;
    color: teal;
    cursor: pointer;
}

.buttons__button:hover {
    color: hsl(180, 100%, 45%);
    transition: 1s;
}

.buttons__button:disabled {
    color: lightgrey;
}

@media (max-width: 767px) {
    .buttons__button {
        width: 100%;
        margin-top: 10px;
    }

    .buttons {
        width: 100%;
    }
}