.section__eachButton {
    border: none;
    background-color: transparent;
    color: teal;
    cursor: pointer;
}

.section__eachButton:hover {
    color: hsl(180, 100%, 45%);
    transition: 1s;
}

.section__eachButton:disabled {
    color: lightgrey;
}

@media (max-width: 767px) {
    .section__eachButton {
        width: 100%;
        margin-top: 10px;
    }

    .section__buttons {
        width: 100%;
    }
}