.list {
    padding: 15px;
}

.list__item {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    word-break: break-word;
    padding: 10px;
    border-bottom: 1px lightgrey solid;
}

.list__task {
    text-decoration: line-through;
}

.list__button {
    border: none;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 1s;
    cursor: pointer;
}

.list__button--remove {
    background-color: crimson;
    color: rgb(255, 255, 255);
    margin-left: 10px;
}

.list__button--remove:hover {
    background-color: hsl(348, 83%, 70%);
}

.list__button--done {
    background-color: green;
    margin-right: 10px;
    color: hsl(0, 0%, 100%);
}

.list__button--done:hover {
    background-color: hsl(120, 100%, 35%);
}

.list__item--hidden {
    display: none;
}